In [39]:
from random import randint
import pandas as pd

from faker import Faker

fake = Faker('es_ES')


def input_data(x):

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'id'] = randint(1, 100)
        data.loc[i, 'name'] = fake.name()
        data.loc[i, 'address'] = fake.address()
        data.loc[i, 'latitude'] = str(fake.latitude())
        data.loc[i, 'longitude'] = str(fake.longitude())
    return data

9
input_data(10)

,id,name,address,latitude,longitude
0,69.0,Carina Fiol,Avenida de Loida Riera 99 Puerta 6 \nSalamanca...,80.957594,-34.665787
1,37.0,Clímaco Cuesta Sainz,"Calle Adriana Gonzalo 30\nGuadalajara, 12897",39.563559,-76.190588
2,37.0,Alicia del Sola,"Camino Hernando Gárate 60 Piso 4 \nBaleares, 4...",56.8994345,20.725108
3,93.0,Leonardo Mata Bustamante,"Acceso de Olivia Castelló 96 Piso 7 \nCáceres,...",12.7426955,122.719571
4,79.0,Chita Cañas Bou,"Via de Máximo Chico 79\nLas Palmas, 15833",42.448793,-23.505038
5,99.0,Olga Pino Plana,"Cuesta de José Ribes 6 Piso 7 \nBurgos, 32256",-83.617968,-114.562947
6,5.0,Isidora Delfina Marcos Ariño,"Cuesta Berta Llanos 17 Apt. 74 \nToledo, 19725",-11.2978765,84.282201
7,17.0,Juanita Lorenza Carrasco Alegre,"Paseo de Leandra Navarrete 148 Piso 5 \nSoria,...",68.592929,-108.875552
8,74.0,Abel Iniesta Sarmiento,"Ronda Melania Roma 797\nLa Coruña, 45717",-37.260981,-20.845371
9,62.0,Saturnina Batalla Mateos,Cuesta de Visitación Mercader 82 Puerta 8 \nGu...,-48.787710,48.471189

In [40]:
Faker.seed(1)
input_data(30)

,id,name,address,latitude,longitude
0,45.0,Lucas Barroso Jara,Cuesta de Florinda Pino 81 Apt. 66 \nTarragona...,-18.507436,-57.184218
1,29.0,Aroa Moll-Anglada,"C. Itziar Gascón 90\nValladolid, 29697",43.093585,116.814225
2,65.0,Francisco Jose de Gilabert,"Ronda Pilar Cabo 24 Puerta 5 \nMálaga, 44929",-39.037601,-17.130269
3,60.0,Lázaro Valero Valera Vazquez,"Urbanización de Mar Quintero 62\nÁvila, 29767",88.176128,92.959394
4,96.0,Roque Céspedes Viñas,"Plaza de Adora Arranz 79 Puerta 2 \nMálaga, 15872",-86.6978195,-72.885466
5,22.0,Águeda de Quiroga,Callejón de Georgina Adán 38 Puerta 8 \nLas Pa...,39.1447845,15.816173
6,77.0,Manola Folch-Vargas,Ronda de Osvaldo Abellán 689 Piso 9 \nZaragoza...,80.5561295,-84.860429
7,61.0,Marisol de Bravo,"Avenida Rufina Alegria 50\nCuenca, 08175",77.7190325,-80.888164
8,57.0,Ema Baños Diego,"Callejón Flora Mariño 85 Piso 1 \nGranada, 26333",2.1652925,45.978992
9,65.0,Efraín Camps,"Plaza de Jafet Alemán 12\nLeón, 47177",45.911370,49.064040
10,74.0,Serafina de Villalonga,"C. Imelda Montesinos 50\nCastellón, 04109",-7.754967,-142.028800
11,51.0,Fabián Martí Cuadrado,"Plaza Chelo Arellano 839 Apt. 98 \nJaén, 14133",3.128551,-126.836163
12,34.0,Luciano Roselló,"C. Manu Varela 60 Puerta 6 \nAlbacete, 11286",-36.083932,-4.045550
13,63.0,Ricarda Cepeda-Nicolau,"Via de Pilar Pinilla 858\nAsturias, 48544",-79.155085,-134.537645
14,72.0,Cesar Diaz Garcés,"Acceso de Nilo Nieto 5 Apt. 97 \nPalencia, 37121",-62.0088935,-7.811563
15,89.0,Herminio Beltran Pinto,"Via de Encarnacion Pineda 9\nOurense, 06357",-18.401917,15.899793
16,40.0,Lope Juanito Carbó Seco,"Cañada Albano Alcaraz 7\nZamora, 03622",-39.5550475,-51.347819
17,38.0,Ignacia Cáceres-Carlos,"Rambla Mar Calderon 96\nNavarra, 17607",38.0464225,-11.175712
18,89.0,Cristóbal Moll Ariño,"Alameda de Vinicio Posada 26\nGuadalajara, 40416",32.3684475,-120.212813
19,95.0,Cándido Somoza-Pagès,"Cañada Heliodoro Hoz 51\nValladolid, 30353",-65.709695,170.045488
20,14.0,Milagros Nicolau-Gordillo,"Alameda Glauco Moliner 643 Apt. 89 \nCiudad, 1...",-84.530889,-49.132723
21,39.0,Angelina Leal Belda,"Cañada Maricela Palomar 37\nMálaga, 51970",-1.9280565,-138.603503
22,72.0,Natalia Duran,"Alameda Marcos Campillo 394\nBurgos, 36749",-81.474506,-10.311921
23,48.0,Rosaura Nerea Fuertes Enríquez,"Calle Lidia Huertas 81 Piso 8 \nMurcia, 29796",54.4343565,63.368780
24,45.0,Hector Nevado Duarte,Ronda Concepción Alfonso 6 Puerta 2 \nBarcelon...,-15.666375,33.565805
25,3.0,Gracia Dueñas-Borrell,"Rambla Benigna Molins 473 Piso 7 \nCeuta, 47717",20.6614785,0.899456
26,14.0,María Jesús del Gimenez,"Rambla de Ariadna Frías 54\nCáceres, 46959",34.7629905,139.211529
27,6.0,Tiburcio Casal Vilaplana,"Callejón Teodosio Gelabert 707\nJaén, 34754",-45.7623325,112.177437
28,79.0,Juan Francisco Botella Jara,"Vial Maura Bilbao 73 Piso 6 \nGuadalajara, 29713",-56.0885295,154.149823
29,19.0,Cloe Carreras Rosado,"Callejón de Jose Ramón Pinedo 903\nPalencia, 0...",-81.729935,156.900771

In [41]:
Faker.seed(2)
input_data(30)

,id,name,address,latitude,longitude
0,65.0,Artemio Blazquez Paniagua,Glorieta de Elvira Araujo 726 Puerta 8 \nMurci...,44.7726625,-35.989351
1,10.0,Trinidad Amorós Pascual,Ronda de Tecla Zaragoza 38 Apt. 30 \nGuadalaja...,-53.305574,93.893658
2,37.0,Fernanda Vilaplana,Pasadizo de Victoria Pascual 855 Apt. 67 \nMad...,43.6984215,88.886999
3,21.0,Selena Otero,"Camino de Lucila Saura 63 Puerta 2 \nVizcaya, ...",-6.902281,-17.168803
4,80.0,Mar Villaverde,"Cuesta Ariel Pazos 115 Apt. 10 \nCuenca, 39777",-29.168089,-122.948886
5,95.0,Bernarda Larrañaga,"Ronda Tomasa Antón 6\nCádiz, 17351",-83.7071505,-135.491696
6,68.0,Anastasio Amaya Armas,"Vial de Odalis Crespo 18 Piso 9 \nZamora, 17241",-49.353476,-160.528231
7,38.0,Francisco Jose Carbajo Macias,"Cañada Vidal Arroyo 36 Piso 3 \nSevilla, 46049",-5.092275,-125.212801
8,57.0,Jacobo Castell Villegas,"Vial de Sandra Nogueira 74 Puerta 0 \nSevilla,...",-22.094709,-161.984627
9,38.0,Cecilio Donaire Báez,"Urbanización Joan Sales 5\nPalencia, 15955",77.5477605,154.958855
10,56.0,Domitila Rocha Lopez,"C. Sebastian Cueto 9\nCiudad, 07678",-63.2173645,-169.368995
11,93.0,Remigio Guardiola Calzada,"Pasaje de Martín Pinto 73\nMálaga, 02397",65.9814825,137.474792
12,73.0,Valero Ripoll Zapata,"Acceso de Alejo Vives 6\nTarragona, 25394",-7.2481885,-169.769870
13,43.0,Armida Calzada Maza,"Calle de Segismundo Torre 23\nGirona, 02582",10.100147,-15.813395
14,76.0,Damián Trujillo Fernandez,"Pasaje de Enrique Ochoa 51 Apt. 11 \nSegovia, ...",-33.089031,-123.413230
15,79.0,Martin Sosa Aroca,"Pasaje de Epifanio Perera 97 Piso 6 \nSoria, 2...",15.943910,-55.646006
16,100.0,Jose Ignacio Jover Roma,"Acceso Gabriel Collado 21\nBarcelona, 20423",14.849295,-55.607202
17,59.0,Isabel Duque Zamora,"Paseo Marisol Roda 6\nTeruel, 34696",-20.942155,-88.964995
18,98.0,Jerónimo Guitart Quintero,"Pasaje de Loida Andreu 762\nLugo, 18953",18.693457,-43.784301
19,67.0,Olalla Sureda Palomino,"Paseo Ester Expósito 16\nLleida, 35312",35.173495,169.011745
20,63.0,Saturnino Busquets Alemany,"Glorieta de Soledad Cabrera 48\nValencia, 39419",65.752342,-77.192216
21,17.0,Rosaura Cervera Aguirre,"Pasadizo de Clarisa Durán 23 Piso 0 \nMurcia, ...",86.738459,-144.864651
22,18.0,Julieta Nadal-Segovia,"Avenida Encarna Olivera 56 Puerta 2 \nCáceres,...",12.4519925,69.460662
23,78.0,Casemiro Adelardo Lumbreras Solsona,"Paseo Remedios Piñeiro 573 Piso 2 \nTarragona,...",-8.742382,-138.814479
24,4.0,Seve Millán-Mateu,Pasadizo de Priscila Buendía 936 Apt. 81 \nAli...,32.819479,121.347215
25,57.0,Juan Carlos del Barriga,"Acceso de Ignacio Montalbán 61\nHuesca, 11911",43.5690975,57.301759
26,26.0,Jerónimo Victorino Cañete Salamanca,"Rambla de Conrado Gárate 63 Apt. 52 \nCeuta, 1...",57.800504,159.789179
27,72.0,Gloria Nogués Lozano,"Paseo de Esther Belmonte 74 Piso 2 \nHuelva, 2...",37.9454695,-132.917775
28,80.0,Fausto Pinilla Castejón,"Rambla de Plinio Benítez 90\nCiudad, 39970",14.6659675,110.526475
29,84.0,Joel Melchor Contreras Palomares,"Via de Erasmo Fuente 34\nHuesca, 17395",-66.0712645,3.980242

In [47]:
# Loading CSV file
Ecommerce = pd.read_csv("e-commerce.csv")
Ecommerce

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
2495,536592,20761,BLUE PAISLEY SKETCHBOOK,1,12/1/10 17:06,7.62,NaN,United Kingdom
2496,536592,20780,BLACK EAR MUFF HEADPHONES,1,12/1/10 17:06,11.02,NaN,United Kingdom
2497,536592,20846,ZINC HEART LATTICE T-LIGHT HOLDER,1,12/1/10 17:06,2.51,NaN,United Kingdom
2498,536592,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,1,12/1/10 17:06,5.91,NaN,United Kingdom
2499,536592,20931,BLUE POT PLANT CANDLE,2,12/1/10 17:06,7.62,NaN,United Kingdom

In [43]:

Ecommerce.Country.dropna().unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE'], dtype=object)

In [44]:


def anonymous(df):

    # Extracting unique CustomerID
    unique_id = df.CustomerID.dropna().unique()

    # Creating the dictionary for Faker localized providers
    local = {
        "United Kingdom": "en_GB",
        "France": "fr_FR",
        "Australia": "en_AU",
        "Netherlands": "nl_NL",
        "Germany": "de_DE",
        "Norway": "no_NO",
        "EIRE": "ga_IE",
    }

    for i in unique_id:

        # Extracting row index
        row_id = df[df["CustomerID"] == i].index

        # Extracting country name for faker locale
        CountryName = Ecommerce.loc[
            Ecommerce["CustomerID"] == i, "Country"
        ].to_numpy()[0]

        # Using locale dictionary to create faker locale generator
        code = local[CountryName]
        fake = Faker(code)

        # Generating fake data and adding it to dataframe
        CustomerName = fake.name()
        Address = fake.address()
        Latitude = str(fake.latitude())
        Longitude = str(fake.longitude())

        for x in row_id:
            df.loc[x, "CustomerName"] = CustomerName
            df.loc[x, "Address"] = Address
            df.loc[x, "Latitude"] = Latitude
            df.loc[x, "Longitude"] = Longitude

    return df

In [45]:

    # Using seed for reproducibility
Faker.seed(5)

secure_db = anonymous(Ecommerce)
# secure_db.head()

In [46]:
display_db = []
for i in Ecommerce.Country.dropna().unique():
    display_db.append(secure_db[secure_db["Country"] == i].to_numpy()[0])
pd.DataFrame(display_db, columns=Ecommerce.columns)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Address,Latitude,Longitude
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom,Pamela Cox-James,Flat 02\nChristine mountains\nSouth Paige\nL0 6LG,14.538783,-94.313141
1,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/10 8:45,3.75,12583.0,France,Patricia Gaillard,"6, boulevard Jacqueline Bernard\n14547 Gonzalez",39.1760775,73.692094
2,536389,22941,CHRISTMAS LIGHTS 10 REINDEER,6,12/1/10 10:03,8.50,12431.0,Australia,Lisa Simon,"592/048 Jennings Circlet\nNorth Russell, VIC, ...",37.700041,30.381288
3,536403,22867,HAND WARMER BIRD DESIGN,96,12/1/10 11:27,1.85,12791.0,Netherlands,Vera Gemen,Dirksingel 3\n1760QA\nSiegerswoude,-7.8724715,163.862358
4,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/10 13:04,2.95,12662.0,Germany,Dipl.-Ing. Hanife Förster B.A.,Uwe-Cichorius-Platz 1\n79862 Dieburg,41.857022,-88.840299
5,536532,84692,BOX OF 24 COCKTAIL PARASOLS,50,12/1/10 13:24,0.42,12433.0,Norway,Erik-Kåre Ruud,"Sætherskrenten 07, 7898 Hanssen",-45.434681,157.461207
6,536540,22968,ROSE COTTAGE KEEPSAKE BOX,4,12/1/10 14:05,9.95,14911.0,EIRE,Matthew Ó Néill-de Searlóg,"36687 Kieran Islands Suite 038\nWest Leonora, ...",72.565089,52.464794

The result is promising. You can see different names per region and language. The addresses are matched with the country. With this method, you can drop personal identification data and create localized data using Faker to protect user privacy and save money. 
[Creating Synthetic Data with Python Faker Tutorial](https://www.datacamp.com/tutorial/creating-synthetic-data-with-python-faker-tutorial)